.banners-slider-pagination {
  position: absolute;
  bottom: 20px !important;
  left: 50% !important;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
  justify-content: center;
}

.banners-slider-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  transition: all 0.2s;
  background-color: black;
  cursor: pointer;
}

.banners-slider-bullet::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background-color: transparent;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid var(--primary);
  border-top-color: transparent;
  opacity: 0;
  animation: spin 1s linear infinite;
  transition: all 0.2s;
}

.banners-slider-bullet-active {
  background-color: black;
  position: relative;
  margin: 0 15px !important;
  transition: all 0.2s;
}

.banners-slider-bullet-active::before {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Custom animations for banner slides */
.swiper-slide-active .banner-content-fade-in {
  transform: translate3d(0, 2000px, 0);
  animation: fadeInUp 0.5s ease forwards;
}

.swiper-slide-active .banner-content-fade-in-h1 {
  animation-delay: 0.3s;
}

.swiper-slide-active .banner-content-fade-in-p {
  animation-delay: 0.4s;
}

.swiper-slide-active .banner-content-fade-in-button {
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Set initial state for elements before animation */
.swiper-slide:not(.swiper-slide-active) .banner-content-fade-in {
  opacity: 0;
}
